<div class="jumbotron home-jumbotron">
	  <div class="container text-center">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h1>Work Experiences</h1><br>
      <hr size=10>
    
   </div>
  
  </div>
  </div>
</div>
<br>

 <div class="container">
 	<div class="row">
 		<div class ="col-sm-4 bor">
 			<h3>Evidence Based Cyber Security Research Group </h3>
 		</div>
 		<div class="col-sm-8">
 			<h3>Graduate Reseach Assitant (Jan 2020 - Present..)</h3><br>
 			<ul>
 				<li>Developing middleware which scrapers and parsers different Darknet Markets for products sales, vendor, 
           and their ratings as part of data collection using web automation frameworks Selenium and Beautiful Soup in Python.</li>
 				<li>Maintaining code quality and updating the code as per requirements, evaluate the collected data to enhance its quality using SQL.
            Improving existing scripts to automate scraping and parsing process using Telegram API.</li>
 				<li>Developed Bash Script for Extracting Meta Information/Data Present in PGP keys of the collected data, 
           Organising the collected meta data using Data frames for further research in python..</li>
 			</ul>
<br>
<span class="label label-default">Python</span>
  <span class="label label-primary">Selenium</span>
  <span class="label label-success">BeautifulSoup</span>
  <span class="label label-info">MySQL</span>
  <span class="label label-warning">API's</span>
  <span class="label label-danger">Bash</span>
  <span class="label label-info">JavaScript</span>
  <span class="label label-primary">Git</span>
  <span class="label label-default">Linux</span>
  
  <br>

 			
 		</div>
 	</div>
 </div>
 <br>
<div class="container">
  <div class="row">
    <div class ="col-sm-4 bor">
      <h3>Endimension Technologies</h3>
    </div>
    <div class="col-sm-8">
      <h3>Deep Learning Research Intern at IIT Bombay (Jan 2019- June 2019)</h3><br>
      <ul>
        <li>As a Deep Learning Researcher, worked on leading problem “Segmentation of Lung Nodules in a CT
scan using Deep Convolutional Networks “with controlling the effect of false positives by adding a
second stage Neural Network.</li>
        <li>Developed a model to the leading edge problem, “Classification of Lung Nodules Malignancy” from a
segmented lung nodule in a CT scan using Deep Learning.</li>
        <li>Implementation of an annotation tool prototype using Watershed algorithm and Web-Technologies
(HTML,Javascript). Created an application that can convert CT data from single to multi planar format.</li>
      </ul>
<br>
<span class="label label-default">Python</span>
 <span class="label label-primary">Tensorflow</span>
 <span class="label label-success">DL</span>
 <span class="label label-info">PyTorch</span>
 <span class="label label-warning">HTML</span>
 <span class="label label-danger">JavaScript</span>
 <span class="label label-info">Bootstrap</span>
 <span class="label label-primary">AWS</span>
 <span class="label label-default">GCP</span>
 <span class="label label-danger">Open CV</span>
 <br>

      
    </div>
  </div>
  
</div>


 <br>
  <div class="container">
 	<div class="row">
 		<div class ="col-sm-4 bor">
 			<h3>Defence Electronic Research Laboratories </h3>
 		</div>
 		<div class="col-sm-8 ">
 			<h3>Summer Intern (May 2017 - July 2017)</h3><br>
 			<ul>
 				<li>Ethernet Based Device Control System Using ARM Microcontroller-SAMA5D3Xplained Created a
User-Interface that can be used to control electronic devices which are connected via Ethernet. Got
acquainted with Embedded C and Html </li>
 				
 			</ul>
<br>
<span class="label label-default">Embeded C</span>
  <span class="label label-primary">IAR Workbench</span>
  <span class="label label-success">Ethernet</span>
  <span class="label label-info">Microprocessors</span>
  <span class="label label-warning">HTML</span>
  <span class="label label-danger">JavaScript</span>
  <span class="label label-info">Bootstrap</span>

  <br>
  
 			
 		</div>
 	</div>
 </div>
 <br>
 <br><br>