<footer class="container-fluid text-center container111">
  
   <a href="mailto:malapativenkatabharath@gmail.com" target="_blank" class="fa fa-google"></a>
<a href="https://www.linkedin.com/in/venkata-bharath-malapati-788a05131/" target="_blank" class="fa fa-linkedin" ></a>
<a href="https://www.facebook.com/bharathrockstar"  target="_blank" class="fa fa-facebook"></a>
<a href='https://github.com/bharath000'target="_blank" class="fa fa-github"></a>
<a href='#' class="fa fa-mail"></a>
  <p class = "text-center"><b>Created by:  "VENKATA BHARATH"</b> </p>
</footer>