<div class="jumbotron home-jumbotron">
	  <div class="container text-center">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h1>Projects</h1><br>
   <hr>
    
   </div>
  
  </div>
  </div>
</div>
<br>

<div class="container s11">
	<div class="row srr">
		<div class="col-sm-6 shadowproject">
			<br>
			<div class="container">
		<a href=' http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8777638&isnumber=8777330'target="_blank" class="fa fa-folder-open 
		float-sm-right" ></a>
		<a href='#'target="_blank" class=" fa fa-github icons-left"></a>
	</div>
		</div>
		<div class="col-sm-6 shadowproject"><br>
			<div class="container">
		<a href=' http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8777638&isnumber=8777330'target="_blank" class="fa fa-folder-open
		float-sm-right" ></a>
	</div>
		</div>
		
	</div>


</div>
