<div class="jumbotron home-jumbotron">
	  <div class="container text-center">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h1>Projects</h1><br>
   <hr size=30>
    
   </div>
  
  </div>
  </div>
</div>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-5 shadowproject">
			<span class="fa fa-folder-open"></span>
			<button class="b1">
			<a href="#" class="fa fa-github"></a></button><button class="b1">
			<a href="#" class="fa fa-link "></a></button>
			<h2>hiihih</h2>
		</div>
		<div class="col-md-5 col-md-offset-2 shadowproject">
			<div class="panel-heading">Panel Heading</div>
			<h2>hiiii</h2>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<br>


<br>
