<!--<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
	.vl{
		  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
	}

</style>
</head>
<body>-->
<div class="jumbotron home-jumbotron">
	  <div class="container text-center">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h1>Projects</h1><br>
   <hr size=30>
    
   </div>
  
  </div>
  </div>
</div>
<br>



<div class="container">    
  
  <div class="row">
   <div class="col-md-6 border-right"> 
      
      <span class="fa fa-folder-open"></span>
			<button class="b1">
			<a href="https://github.com/bharath000/devanagari"target="_blank" class="fa fa-github"></a></button><button class="b1">
			<a href="https://morning-anchorage-56517.herokuapp.com"target="_blank" class="fa fa-link "></a></button>
			<h3>Devanagari Script Classification using CNN</h3><br>
			<h5>End to End Development of Devanagari script letter Classification using Convolutional Neural Networks
From building network to deployment of network live in online.</h5><br>

  <span class="label label-success">Tensorflow</span>
  <span class="label label-info">Pytorch</span>
  <span class="label label-warning">Python</span>
  <span class="label label-danger">OpenCV</span>
  <span class="label label-info">GCP</span>
  <span class="label label-default">Deep Learning</span>
  <span class="label label-primary">CNN</span>
  <span class="label label-success">HTML</span>
  <span class="label label-info">Bootstrap</span>

  <span class="label label-warning">JavaScript</span>
  <span class="label label-danger">Node JS</span>
  <span class="label label-info">Express JS</span>
   <span class="label label-info">Restful API</span>
  <span class="label label-default">Tensorflow Js</span>
  <span class="label label-info">Keras</span>
    </div>
  
 <div class="col-md-6 "> 
      <span class="fa fa-folder-open"></span>
			<button class="b1">
			<a href="https://github.com/bharath000/-Glaucoma" target="_blank" class="fa fa-github"></a></button>

			<h3>Glaucoma Detection using CNN</h3><br>
			<h5>Optic Disk and Cup Segmentation in Fundus Images using Convolutional Neural Networks and Image
processing techniques for faster and efficient diagnosis of glaucoma</h5><br>

<span class="label label-default">Deep Learning</span>
<span class="label label-info">Keras</span>
  <span class="label label-primary">CNN</span>
  <span class="label label-success">Tensorflow</span>
  <span class="label label-info">Pytorch</span>
  <span class="label label-warning">Python</span>
  <span class="label label-danger">OpenCV</span>
  <span class="label label-info">GCP</span>

    </div>
    
  </div>
  <br><br>
<!-- first rowa -->
<hr>
<br><br>
  <div class="row">
   	 <div class="col-md-6 border-right"> 
      <span class="fa fa-folder-open"></span>
			<button class="b1">
			<a href="https://github.com/bharath000/Recommendation-Systems-Using-Spark-Hybrid-" target="_blank"class="fa fa-github"></a></button>
			


			<h3>Hybrid Recommended System</h3><br>
			<h5>Development of a Hybrid Recommended System using both Content-Based and Colloborative Filtering in Spark Using Databricks on Movielens dataset.</h5><br>

<span class="label label-default">Spark</span>
<span class="label label-info">Python</span>
  <span class="label label-primary">Databricks</span>
  <span class="label label-default">ML</span>


    </div>
  <div class="col-md-6"> 
      
   <span class="fa fa-folder-open"></span>
   <button class="b1">
    <a href="https://github.com/bharath000/Files-Trasfer-Andriod-App-Using-Socket-Communication" target="_blank"class="fa fa-github"></a></button>
    <button class="b1">
      <a href="https://www.youtube.com/watch?v=sJC8oBdxCTI" target="_blank"class="fa fa-youtube"></a></button>
			
<h3>File Transfer System using Android and TCP/IP</h3><br>
<h5>Android App and File Server For Transfering Files between then using TCP/IP Socket communication. (Through this App and File Server any file like
   Image,text,Docs,pdf can be transferred and stored in server/android mobile) The data is transferred in the form of bytes. .</h5><br>

   <span class="label label-default">Java</span>
   <span class="label label-info">Andriod</span>
     <span class="label label-primary">Mobile App Development</span>
     <span class="label label-success">TCP/IP</span>
     <span class="label label-info">Socket Communication</span>
     <span class="label label-warning">Operating System, System calls</span>
     <span class="label label-danger">Android Studio</span>
     
 
    </div>

    
  </div>

<br>  
<!-- second row -->
<hr>
<br><br>
  <div class="row">
    <div class="col-md-6 border-right"> 
      <span class="fa fa-folder-open"></span>
			<button class="b1">
			<a href="https://github.com/bharath000/spring-boot-bounty-app" target="_blank"class="fa fa-github"></a></button>
			


			<h3>Bounty Food Donation System</h3><br>
			<h5>Developed Web App For Food Donation system, Where restaurents able to donate the excees food to the near by charities in a Zipcode region, Backend developed in Spring provides REST API's which are Accesed by React Front 
        Each Rest API is protected by authorization and authentication using Spring-Security
      </h5><br>

<span class="label label-default">Java</span>
<span class="label label-info">Spring-Boot</span>
  <span class="label label-primary">ReactJS</span>
  <span class="label label-default">MySQL</span>
  <span class="label label-info">Azure</span>
  <span class="label label-warning">Spring-Security</span>
  <span class="label label-danger">Jwt</span>



    </div>
  <div class="col-md-6"> 
      
   <span class="fa fa-folder-open"></span>
			
			
<h3>Mp3 File Search Algo</h3><br>
<h5>Implemented an efficient File Search Algorithm over a Local MP3 Database in MATLAB using Audio
Finger Printing Technique.</h5><br>

  <span class="label label-success">Matlab</span>
  <span class="label label-info">Hash-Tables</span>
   <span class="label label-primary">Signal Processing</span>
 
    </div>

    
  </div>

<br>
<!--third row -->
<hr>
<br><br>
  <div class="row">
   	 <div class="col-md-6 border-right"> 
      <span class="fa fa-folder-open"></span>
			<button class="b1">
			<a href="https://bharath000.github.io/templetes/" target="_blank"class="fa fa-github"></a></button><button class="b1">
			<a href="https://bharath000.github.io/templetes/final.html" target="_blank"class="fa fa-link"></a></button>


			<h3>Annotation Tool Prototype</h3><br>
			<h5>Implemented a 2D CT scan Annotation Tool Prototype,a two click on annotation tool using watershed algo,with annoated boundary co-ordinates as output </h5><br>

<span class="label label-default">HTML</span>
<span class="label label-info">Bootstrap</span>
  <span class="label label-primary">JavaScript</span>
  <span class="label label-info">DCM/DICOM</span>


    </div>
  <div class="col-md-6"> 
      
   <span class="fa fa-folder-open"></span>
			
			
<h3>A Comprehensive analysis on Sensitivity of people towards HIV/AIDS</h3><br>
<h5> Reasons, Trends and
Measures were inferred after meticulous scrutiny of the survey data and visualizations were
made in Python. To Automate the process of categorizing the person’s sensitivity towards
HIV/AIDS, a model was built that can predict if he is sensitive or not towards AIDS patients
using text mining and machine learning.</h5><br>

  <span class="label label-success">python</span>
  <span class="label label-info">Statistical Learing</span>
   <span class="label label-primary">Machine Learning</span>
   
 
    </div>

    
  </div>
  <br>
  <!-- first rowa -->
<hr>
<br><br>
  <div class="row">
   	
    <div class="col-md-6 border-right"> 
      <span class="fa fa-folder-open"></span>
			<button class="b1">
			<a href="https://github.com/bharath000/Interpolation-caluculator" target="_blank"class="fa fa-github"></a></button><button class="b1">
			<a href="https://bharath000.github.io/templetes/index.html" target="_blank"class="fa fa-link"></a></button>


			<h3>Interpolation Caluculator</h3><br>
			<h5>Development of an online Interpolation Caluculator, which computes Newton’s forward and backward
differences for upto 10 variables.</h5><br>

<span class="label label-default">HTML</span>
<span class="label label-info">Bootstrap</span>
  <span class="label label-primary">JavaScript</span>


    </div>
  <div class="col-md-6"> 
      
   <span class="fa fa-folder-open"></span>
  
     
 
    </div>

    
  </div>

<br>  
</div>
</div>
<br>
<!--<div class="container">
	<div class="row">
		<div class="col-md-4 shadowproject box">
			<span class="fa fa-folder-open"></span>
			<button class="b1">
			<a href="#" class="fa fa-github"></a></button><button class="b1">
			<a href="#" class="fa fa-link "></a></button>
			<h2>hiihih</h2>
		</div>
		<div class="col-md-4  shadowproject box">
			<div class="panel-heading">Panel Heading</div>
			<h2>hiiii</h2>
		</div>
	</div>
</div>-->
<br>

<br>
<br>
<br>
<br>

<br>


<br>
