<div class="jumbotron home-jumbotron">
	  <div class="container">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h2>Recent Publications.</h2>
    
   </div>
  
  </div>
  </div>
</div>



<div class = "container paper1c  s11">
	<div class ="row">
<div class = "col-sm-12 align-center">
<br>
<h4>M. Bharath, K. V. Reddy and R. Dey,<a href=' https://ieeexplore.ieee.org/document/8777526'target="_blank"> 




	"Implementation of IoT Architecture for Intruder Alert System using MQTT Protocol and MEAN Stack,"</a> 2018 4th International Conference on Computing Communication and Automation (ICCCA), Greater Noida, India, 2018, pp. 1-6.
<br><br>
Abstract: Internet of Things (IOT) facilitates the interdependence between intelligent machines, people and the data. IoT has already been leveraged by many industries and it will be extensively used very soon. Automated emergency alert system is one such application which can commercially scale and can achieve high operating efficiency when integrated with IoT. In this paper, an end-to-end architecture of an intruder alert system has been proposed. The proposed work uses MQTT protocol and web development tools like MEAN. The merits of using these protocols over other protocols and tools in resource constrained IoT applications were discussed. Finally, the real-time implementation of the proposed architecture has been demonstrated.
</h4>
<div class="container">
		<a href=' https://ieeexplore.ieee.org/document/8777526'target="_blank" class="fa fa-link 
		float-sm-right" ></a>
	</div>

    
   </div>
  
  </div>


</div>
<br>
<div class = "container paper1c  s11">
	<div class ="row">
<div class = "col-sm-12 align-center">
<br>
<h4>K. V. Reddy, M. V. Bharath, A. K. Suhag and M. Sinha,<a href=' http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8777638&isnumber=8777330'target="_blank"> 




	"Test Vector Reordering by using Hybrid Genetic Algorithm-Simulated Annealing for Lower Switching Activity,"</a> 2018 4th International Conference on Computing Communication and Automation (ICCCA), Greater Noida, India, 2018, pp. 1-6.
<br><br>
Abstract: Test power dissipation is way higher than normal mode power dissipation due to extensive switching activity, which affects the reliability of the device. Switching activity can be reduced by reordering of test vectors without modification in the circuit under test. In this work, a genetic algorithm with simulated annealing is proposed for reordering of test patterns and thereby finding optimum orders of test vectors to reduce overall switching activity at the time of application of test vectors. Hamming distance among consecutive test patterns is minimized in this work for reordering the sequence. Experimental results demonstrate a significant improvement of 16.5% in the reduction of switching activity on ISCAS'89 benchmark circuits.
</h4>
<div class="container">
		<a href=' http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8777638&isnumber=8777330'target="_blank" class="fa fa-link 
		float-sm-right" ></a>
	</div>

    
   </div>
  
  </div>


</div><br>
<br>

<div class="jumbotron home-jumbotron">
	  <div class="container">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h2>Upcoming Publications.</h2>
    
   </div>
  
  </div>
  </div>
</div>

