<div class="jumbotron text-center">
    <h1>The About Page</h1>
    <p>This page demonstrates <span class="text-danger">multiple</span> and <span class="text-danger">named</span> views.</p>
</div>

<div class="row">

    <div class="col-sm-6">
        <div ui-view="columnOne"></div>
    </div>
    
    
    <div class="col-sm-6">
        <div ui-view="columnTwo"></div>
    </div>

    
</div>

<div class = "container paper1c">
	<div class ="row">
<div class = "col-sm-12">
<h3>K. V. Reddy, M. V. Bharath, A. K. Suhag and M. Sinha, "Test Vector Reordering by using Hybrid Genetic Algorithm-Simulated Annealing for Lower Switching Activity," 2018 4th International Conference on Computing Communication and Automation (ICCCA), Greater Noida, India, 2018, pp. 1-6.
doi: 10.1109/CCAA.2018.8777638
Abstract: Test power dissipation is way higher than normal mode power dissipation due to extensive switching activity, which affects the reliability of the device. Switching activity can be reduced by reordering of test vectors without modification in the circuit under test. In this work, a genetic algorithm with simulated annealing is proposed for reordering of test patterns and thereby finding optimum orders of test vectors to reduce overall switching activity at the time of application of test vectors. Hamming distance among consecutive test patterns is minimized in this work for reordering the sequence. Experimental results demonstrate a significant improvement of 16.5% in the reduction of switching activity on ISCAS'89 benchmark circuits.
keywords: {automatic test pattern generation;genetic algorithms;simulated annealing;test vector reordering;hybrid genetic algorithm-simulated annealing;test power dissipation;normal mode power dissipation;extensive switching activity;test vectors;consecutive test patterns;switching activity;Hamming distance;Genetic algorithms;Switches;Optimization;Sociology;Statistics;Biological cells;Power dissipation;Genetic Algorithmb Simulated Annealing;Test vector Re-ordering;switching activity;Fitness function;optimization;Local optimum},
URL: http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8777638&isnumber=8777330</h3>
    
   </div>
  
  </div>


</div>