<div class="jumbotron home-jumbotron">
	  <div class="container">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h1>Resume.</h1>
    <hr>
   </div>
  
  </div>
  </div>
</div>
<div class="container">
	<div class="row">
		<h1>Venkata Bharath Malapati</h1>
		<hr>
	</div><br>
	<div class="row">
		<div class="col-sm-12">
			<h2>Education</h2>
			<hr>
			<h3>
				<b>Georgia State University </b>, Atlanta, Georgia, USA<br>
<b>Master's in Computer Science</b>,<br>
<b>Courses:</b> Advanced Deep Learning, Advanced Computer Networks, Graph Mining,
Big Data Programming, Design and Analysis of Algorithms, Software Engineering, Operating Systems, Web Programming. </h3>
			<h3>
				<b>BML Munjal University</b>, Gurugram, Haryana, India.<br>
<b>Bachelor of Technology in Electronics and Communication Engineering</b>, CGPA: 8.45/10<br>
<b>Courses:</b> Information Theory and Coding, Introduction to Statistical Learning, Digital Signal Processing,
Computer Architecture and Organization, Computer Programming in C. </h3>


<h2>
MOOC</h2><br>
<ul>
	<li><h4>Machine Learning - Stanford</h4></li>
	<li><h4> Data Science using Python by Michigan University</h4></li>
	<li><h4> Applied plotting, charting and data representation in python</h4></li>
	<li><h4> Applied Machine Learning in python</h4></li>
	<li><h4> Applied text mining in python</h4></li>
	<li><h4> Advanced Machine Learning/Deep Learning by national research university of higher
school of economics</h4></li>
	<li><h4>  SQL for data science</h4></li>
	<li><h4> Practical PHP</h4></li>
	<li><h4> Web development</h4></li>
</ul>
		</div>
	</div>

</div>

<div class="jumbotron home-jumbotron">
	  <div class="container">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h1>Skills.</h1>
    <hr>
   </div>
  
  </div>
  </div>
  <div class="container">
  	<div class="row">
  		<div class="col-sm-6">
  			<h4>Programming Languages:</h4>
  			<ul>
				  <li>C</li>
				  <li>Java</li>
  				<li>Python</li>
  				<li>Verilog</li>
				  <li>MatLab</li>
				  



  			</ul>
  			
  		</div>
  		<div class="col-sm-6">
  			<h4>Machine Learning/Deep Learning</h4>
  			<ul>
  				<li>Numpy</li>
  				<li>Pandas</li>
  				<li>OpenCV</li>
  				<li>sk-learn</li>
  				<li>Tensorflow</li>
  				<li>PyTorch</li>
  				<li>Keras</li>
				  <li>GCP</li>
				  <li>TensorflowJS</li>
				  <li>CNN's</li>


  			</ul>
  			
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-sm-6">
  			<h4>Software/Tools:</h4>
  			<ul>
  				<li>Mentor Graphics</li>
  				<li>Xilinx's vivado</li>
  				<li>Protues</li>
  				
  				



  			</ul>
  			
  		</div>
  		<div class="col-sm-6">
  			<h4>Web Services</h4>
  			<ul>
  				<li>HTML</li>
  				<li>CSS3</li>
  				<li>Bootstrap</li>
  				<li>JavaScript</li>
  				<li> SVG (Adobe Illustrator)</li>
  				<li>JQuery</li>
  				<li>PHP</li>
  				<li>MySQL</li>
  				<li>Apache-Cordova</li>
  				<li>MEAN (mongodb, expressJS, AngularJS, NodeJS)</li>
				<li>ReactJs</li>
				<li>Spring-Boot</li>
				<li>Spring-Security</li>
				<li>Jwt</li>
				<li>REST API's</li>
				<li>Azure</li>
				<li>Heroku</li>


  			</ul>
  			
  		</div>
  	</div>
  	<br>
  	<div class="row"><div class="col-sm-6">
  		<h4>Area of Interest</h4>
  			<ul>
  				<li>Machine Learning</li>
  				<li>NLP</li>
  				<li>Computer Vison</li>
  				<li>VR/AR</li>
  				<li>Full stack development</li>
  				<li>Big Data Engneering</li>
  				<li>Algorithms & Data Structures</li>

  				<li>MEAN (mongodb, expressJS, AngularJS, NodeJS)</li>
  			</ul>

  	</div></div>
  </div>
</div>


<br>
 <div class="container">
 	<div class="row">
 		<div class="col-sm-4"><h2>Get Resume as pdf</h2></div>
 		<div class="col-sm-8">
 	<embed src="view/VBM_git.pdf" type="application/pdf" height="700px" width="500"></div>
 	</div>
 </div>
