<div class="jumbotron home-jumbotron">
	  <div class="container">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h1>Resume.</h1>
    <hr>
   </div>
  
  </div>
  </div>
</div>
<div class="container">
	<div class="row">
		<h1>Venkata Bharath</h1>
		<hr>
	</div><br>
	<div class="row">
		<div class="col-sm-12">
			<h2>Education</h2>
			<hr>
			<h3>
				BML Munjal University, Gurugram, Haryana, India.<br>
Bachelor of Technology in Electronics and Communication Engineering, CGPA: 8.45/10<br>
Courses: Information Theory and Coding, Introduction to Statistical Learning, Digital Signal Processing,
Computer Architecture and Organization, Computer Programming in C. </h3><h2>
MOOC</h2><br>
<ul>
	<li><h4>Machine Learning - Stanford</h4></li>
	<li><h4> Data Science using Python by Michigan University</h4></li>
	<li><h4> Applied plotting, charting and data representation in python</h4></li>
	<li><h4> Applied Machine Learning in python</h4></li>
	<li><h4> Applied text mining in python</h4></li>
	<li><h4> Advanced Machine Learning/Deep Learning by national research university of higher
school of economics</h4></li>
	<li><h4>  SQL for data science</h4></li>
	<li><h4> Practical PHP</h4></li>
</ul>
		</div>
	</div>

</div>

<div class="jumbotron home-jumbotron">
	  <div class="container">
  <div class ="row">
   <div class = "col-sm-12 wow fadeInLeft animated" data-duration="3.0s" data-delay="0.3s" data-iteration="1">
     <h1>Skills.</h1>
    <hr>
   </div>
  
  </div>
  </div>
</div>



 <div class="container">
 	
 	<embed src="view/Bharath_resume.pdf" type="application/pdf">
 </div>
